.caixa{
    background-color: rgb(54, 54, 54);
}

.imagem-car{
    background-size: cover;
    opacity: 0.4; 
    height: 100%;
}

.image-con{
    color: white; 
    position: absolute;
    top: 155px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    text-align: center;
  }

.altura{
    height: 75%;
}

.cor_fd{
    background-color: #CC6600;
}

.cor_bg{
    background-color: black;
}