{% extends 'base.html' %}
{% load static %}

{%block 'title' %}Carzone - Montadoras{% endblock %}

{% block 'css' %}
<link rel="stylesheet" href="{% static 'carro/css/carro.css' %}">
{% endblock %}

{% block 'body' %}
<br>
<br> 
<div class="container">
    <div class="row">
        {% for marca in page_obj.object_list %}
        <div class="col-md-4 tab">
            <div class="card mb-4 box-shadow caixa">
                <img class="card-img-top imagem"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" 
                src="{{marca.imagem.url}}">
                <div class="card-body">
                    <h3 class="jumbotron-heading nome-car">{{marca.nome}}</h3>
                    <h3 class="jumbotron-heading nome-car">País: {{marca.pais}}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group botao">
                            <a href="{% url 'listar_carros' marca.slug %}"><button type="button"
                                class="btn btn-primary tx-cor">Acessar</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <nav class="navbar-dark bg-dark" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
                {% endif %}
            </li>

            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                {% if page_obj.number == page_number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}

                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Proxima</span>
                    </a>
                    {% endif %}
                </li>
        </ul>
    </nav>
</div>
{% endblock %}